:root{

    --text-clr: #ffffff;
    --link-clr: #810000;
    --link-hover: #d60000;
    --subtext-clr: #dadada;

    --arrivals-bg: #cccccc;

    --default-font: "Jost", sans-serif;
    --animation-duration: 0.3s;
}


body {
    overflow-x: hidden;

}

*{
    margin: 0;
    padding:0;
    font-family: var(--default-font);

}

ul{
    list-style-type: none;

}

a{
    text-decoration: none;
    color: var(--link-clr);
    font-weight: bold;
    transition: color var(--animation-duration) ease-in-out;

}

a:hover{
    color: var(--link-hover);
    transition: color var(--animation-duration) ease-in-out;

}

button {
    border:none;
    border-radius: 50px;
    font-weight: bold;

}

.material-symbols-outlined{
    transition: color 0.3s ease-in-out;

}

.material-symbols-outlined:hover{
    color: var(--link-hover);
    transform: scale(1.05);
    transition: color var(--animation-duration) ease-in-out;
    transition: transform var(--animation-duration) ease-in-out;

}

#selected-tab {
    color: var(--link-hover);

}


input{
    font-weight: bold;
    font-family: var(--default-font);

    padding:1em;
    border: none;

}

