
:root{

    --text-clr: #ffffff;
    --link-clr: #810000;
    --link-hover: #d60000;
    --subtext-clr: #dadada;

    --arrivals-bg: #cccccc;

    --default-font: "Jost", sans-serif;
    --animation-duration: 0.3s;
}

body {
    overflow-x: hidden;
}

*{
    margin: 0;
    padding:0;
    font-family: var(--default-font);

}

ul{
    list-style-type: none;

}

a{
    text-decoration: none;
    color: var(--link-clr);
    font-weight: bold;
    transition: color var(--animation-duration) ease-in-out;

}

a:hover{
    color: var(--link-hover);
    transition: color var(--animation-duration) ease-in-out;

}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1em;

}

input{
    font-weight: bold;
    font-family: var(--default-font);

    padding:1em;

}

button {
    border:none;
    border-radius: 50px;
    font-weight: bold;

}

.material-symbols-outlined{
    transition: color 0.3s ease-in-out;
}

.material-symbols-outlined:hover{
    color: var(--link-hover);
    transform: scale(1.05);
    transition: color var(--animation-duration) ease-in-out;
    transition: transform var(--animation-duration) ease-in-out;

}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:5em;
}

.section-title{
    text-align: center;
    font-size: 1.5em;

    padding-top: 3em;
    padding-bottom: 1.5em;

    
    text-underline-offset: 5px;

}

.section-title h1{
    text-decoration: underline dashed;
}


.title-bg{
    padding:1em;
    background:url(images/title-bg/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.section-title h1{
    background:rgb(255, 255, 255);
    align-self: center;
    padding-inline: 1em;
   
}


/* ---------------------------------------------------------------- */
                        /* HEADER */

header{
    display: grid;

    justify-content: center;
    align-items: center;
    text-align: center;

    gap:2em;
    background: #000000;


}

header img{
    width: 120px;
    margin-top:2em;
}

.header-logo {
    transition: transform var(--animation-duration) ease-in-out;
} 


.header-logo:hover {
    transform: scale(1.05);
    transition: transform var(--animation-duration) ease-in-out;
}

.header-nav ul{
    display: flex;

    justify-content: center;
    text-align: center;
    align-items: center;

    gap:1em;
}

.header-nav a{
    color: var(--text-clr);
    font-size: 1.2em;
}

.header-nav-link {
    white-space: nowrap;
    position: relative;
    text-decoration: none;
    position: relative;
    white-space: nowrap;

}

.header-nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: var(--text-clr);
    width: 0;
    height: 1px;
    transition: width 0.3s ease-in-out;

}

.header-nav-link:hover::after {
    width: 100%;

}

#header-nav-right {
    margin-block:2em;
}

#header-nav-right ul{
    display: flex;
    gap:2em;
}

#header-nav-right a{
    font-weight: normal;
}

#header-nav-right form .material-symbols-outlined{
    display: none;
}

#header-nav-right input{
    border:none;
    border-radius: 50px;
}

/* ---------------------------------------------------------------- */
                        /* BRAND IMAGE */

.brand-image {
    background: url(images/feature-keyboard.png) center/cover no-repeat;
    height: 250px;
    
    color: var(--text-clr);

    display: grid;
    align-items: center;
    text-align: center;

}

.brand-image p{
    color: var(--subtext-clr);
    padding-bottom: 1.5em;
}

.brand-image h1{
    padding-bottom: 1em;
}

.brand-image button{
    padding-block: 0.8em;
    padding-inline: 2em;
    transition: background var(--animation-duration) ease-in-out, color var(--animation-duration) ease-in-out;
}

.brand-image button:hover{
    background: var(--link-hover);
    color: var(--text-clr);
    transition: background var(--animation-duration) ease-in-out, color var(--animation-duration);

}

.brand-image-text{
    padding: 5%;
}



/* ---------------------------------------------------------------- */
                        /* MAIN ABOUT */

.main-about{
    padding-inline: 10%;
    padding-block:3em;
    display: flex;
    flex-direction: column;
    gap:2em;

    text-align: center;

}

.main-about img{
    width: 50px;
    
}

.about-item{
    display: flex;
    align-items: center;
    gap:3em;

}

.about-text a{
    text-decoration: underline;
    text-underline-offset: 3px;
}

.about-text p{
    margin-block: 1em;

}


/* ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
                        /* TOP ARRIVALS */

.new-arrivals{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#animated-image {
    transition: transform var(--animation-duration) ease-in-out;

}

#animated-image:hover {
    transform: scale(1.05);
    transition: transform var(--animation-duration) ease-in-out;

}

.top-arrivals {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;

    gap:2em;

}

.top-arrivals-item {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.top-arrivals-item img, .top-arrivals-item{
    width: 350px;
    height: 100%;

}


.top-arrivals-text {
    background: var(--arrivals-bg);
    padding:1em;

    display: flex;
    flex-direction: column;
    gap:1em;

}

.top-arrivals-item p strong{
    font-size: 1.2em;
    text-decoration: underline;
    text-underline-offset: 6px;
    
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
                        /* OTHER ARRIVALS*/

.other-arrivals{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    gap:2em;
}

.other-arrivals-item{
    background: var(--arrivals-bg);
    padding:1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-width: 250px;

    gap:2em;
}

.other-arrivals-item img{
    padding-bottom:2em;
    border-bottom: 1px solid var(--link-hover);
}

.other-arrivals-item:hover{
    transform: scale(1.1);
}

.other-arrivals-text{
    display: flex;
    flex-direction: column;
    gap:1em;
}

.other-arrivals-item button{
    align-self: center;

    padding-block: 1em;
    padding-inline:3em;

    color: white;
    background:var(--link-clr);
    transition: background var(--animation-duration) ease-in-out;
}

.other-arrivals-text button:hover{
    background:var(--link-hover);
    transition: background var(--animation-duration) ease-in-out;
    color: var(--text-clr);
}

.price{
    display: flex;
    gap:2em;

    font-weight: bold;
}

.before-price{
    color: #6e6e6e;
    text-decoration: line-through;
    
}

.now-price{
    color: #bd0000;

}

/* ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
                        /* BEST SELLERS*/


.best-seller {
    padding-inline: 5%;

}

.best-seller a{
    color: rgb(255, 255, 255);
    text-align: center;

}

.best-seller-content{
    padding-inline: 5%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap:3em;

}

.best-seller-highlights{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;

}


.best-seller-item{
    width: 350px;
    height: 350px;
    display: flex;
    
    flex-direction: column;
    justify-content: center;

    border: 3px solid black;
   
}

.best-seller-item a{
    display: flex;
    flex-direction: column;
    padding-inline:5%;

    gap:2em;

}

.best-seller-item h2{
    font-size: 2em;
    transition: color var(--animation-duration) ease-in-out;
}

.best-seller-item h2:hover{
    color: var(--link-hover);
    transition: color var(--animation-duration) ease-in-out;
    
}

.best-seller-others{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
    text-align: center;

}

.best-seller-others a {
    white-space: nowrap;
    text-decoration: none;
    position: relative;

}

.best-seller-others a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: var(--text-clr);
    width: 0;
    height: 2px;
    transition: width 0.3s ease-in-out;

}

.best-seller-others a:hover::after {
    width: 100%;

}

.best-seller-mini{
    display: flex;
    gap:0.5em;

}

#best-seller-item-1{
    background: url(images/bestSellers/ak820alt.jpg);
    
}

#best-seller-item-2{
    background: url(images/bestSellers/ak820-max-he.jpg);

}

#best-seller-item-3{
    background: url(images/bestSellers/aj159alt.jpg);

}

.best-seller-big{
    background: url(images/bestSellers/AK980.webp);
    width: 350px;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid black;
}

#best-seller-item-1, #best-seller-item-2, #best-seller-item-3, .best-seller-big{
    background-size: cover;

}

#best-seller-mini-1{
    background: url(images/bestSellers/ak650.jpg);
    
}

#best-seller-mini-2{
    background: url(images/bestSellers/ak680alt.jpg);

}

#best-seller-mini-3{
    background: url(images/bestSellers/ak870.jpg);

}

#best-seller-mini-4{
    background: url(images/bestSellers/ak820-max.jpg);

}

#best-seller-mini-1, #best-seller-mini-2, #best-seller-mini-3, #best-seller-mini-4{
    width: 175px;
    height: 175px;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid black;
}

/* ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
                        /* COLLECTIONS */

.collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:5em;
}

.collections-feature{
    display: flex;
    flex-direction: column;
    gap:2em;
    
}

.collections a{
    color:white;
    font-size: 1.5em;
    transition: color var(--animation-duration);

}


.collections a:hover{
    color: var(--link-hover);
    transition: color var(--animation-duration);

}


.collections-feature-item{
    width: 300px;
    height: 400px;
    border: 3px solid black;
    transition: transform var(--animation-duration);

}


.collections-feature-item:hover{
    transform: scale(1.1);
    transition: transform var(--animation-duration);
}

.collections-feature-item button, .view-all button{
    padding-block:1em;
    padding-inline: 2em;
    transition: color var(--animation-duration), background var(--animation-duration);

}

.collections-feature-item button:hover, .view-all button:hover{
    background: var(--link-hover);
    color: white;
    transition: color var(--animation-duration), background var(--animation-duration);

}

#collections-feature-item-1{
    background: url(images/collections/keyboards.webp);

}

#collections-feature-item-2{
    background: url(images/collections/gaming-mice.jpg);

}

#collections-feature-item-3{
    background: url(images/collections/switches-alt.jpg);

}

#collections-feature-item-4{
    background: url(images/collections/headphones.webp);

}

#collections-feature-item-5{
    background: url(images/collections/sales-alt.jpg);
    

}

#collections-feature-item-1,#collections-feature-item-2,#collections-feature-item-3,#collections-feature-item-4,#collections-feature-item-5{
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    justify-content: center;

}

.view-all{
    margin-block:3em;
    
}


.view-all button{
    padding-inline: 5em;
    font-size: 1em;
}

/* ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
                        /* FOR WHAT */

.for-what{
    padding-inline: 5%;
}

.for-what-div{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: center;

}

.for-what-div div{
    display: flex;
    flex-direction: column;
    gap:1em;

}

.for-what-div button{
    font-size: 1em;
    padding-block:1em;
    padding-inline: 2em;

    transition: color var(--animation-duration), background var(--animation-duration);

}

.for-what-div button:hover{
    background: var(--link-hover);
    color: white;
    transition: color var(--animation-duration), background var(--animation-duration);

}

.for-what-div img{
    width: 400px;

}

/* ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
                        /* COSTUMERS */

.costumers{
    padding:5%;
}

.costumers .section-title{
    display: flex;
    flex-direction: column;
    gap:2em;
}

.costumers .section-title p{
    color: rgb(131, 131, 131);
}

.costumers-says{
    display: flex;
    text-align: center;
    gap:1em;
}

.costumers-says .material-symbols-outlined:hover{
    color: rgb(128, 128, 0);
    transition: color var(--animation-duration);
}

/* ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
                        /* FOOTER */


/* ---------------------------------------------------------------- */



/* ---------------------------------------------------------------- */

                        /* RESPONSIVIDADE */


@media (max-width:570px){    

    #header-nav-right ul{
        gap:1em;
    }

}

@media (min-width: 680px){
    .brand-image {
        height: 60vh;
    }
    
}

@media (min-width:900px){
    header{
        display: flex;
        align-items: baseline;

        padding-block: 1em;
        padding-inline:5%;

        font-size: 0.8em;
        gap:5em;
    }

    #header-nav-right form .material-symbols-outlined{
        display: block;
        color: var(--text-clr);
    }

    .brand-image h1{
        font-size: 2em;
    }

    .brand-image p{
        font-size: 1.4em;
        
    }
    
    .brand-image button{
        font-size: 1em;
    
    }

    .main-about{
        padding-inline: 5%;
        flex-direction: row;
    
    }

    .top-arrivals {
        display: grid;
        grid-template-columns: repeat(2,1fr);

   
        gap:2em;

    }

    .other-arrivals{
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }
    
    .other-arrivals-item{
        padding-block: 2em;

    }

    .best-seller-big{
        background-position: center;
    }

    .best-seller-item, .best-seller-big{
        width: 700px;
        height: 450px;
    }

    #best-seller-item-1, #best-seller-item-3{
        background-position: bottom;
    }

    #best-seller-item-2{
        background-position: top;
    }

    #best-seller-mini-1, #best-seller-mini-2, #best-seller-mini-3, #best-seller-mini-4{
        width: 350px;
        height: 350px;

    }
    
    .best-seller-mini{
        gap:1em;

    }

    .collections-feature-item{
        width: 700px;
        height: 500px;
    
    }

    .collections-feature-item button{
        padding-block:2em;
        padding-inline: 3em;
    }

    #collections-feature-item-3{
        background-position: bottom;
    }

    .for-what-div{
        display: flex;
        margin-bottom:3em;
        gap:1em;
    }
    
}



@media (min-width:1240px){
    
header{
    display: flex;
    align-items: baseline;
    
}

.header-nav ul{
    gap:1em;
    font-size:2em;

}

.header-nav a{
    font-size: 1em;

}

#header-nav-right a{
    font-size: 0.8em;

}

.brand-image h1{
    font-size: 3em;

}

.brand-image button{
    padding-inline: 5em;

}

.top-arrivals {
    grid-template-columns: repeat(3,1fr);
    gap:5em;
}

.top-arrivals-item img{
    width: 400px;

}

.top-arrivals-text{
    width: 370px;
}

.other-arrivals{
    padding-inline:5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.best-seller-item, .best-seller-big{
    width: 350px;
    height: 500px;
    

}

.best-seller-highlights{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:4em;
}

.best-seller-mini{
    flex-direction: column;
    font-size: 2em;
}

.best-seller-big{
    height: 700px;
    margin-right: 2em; /* erro */
    font-size: 1.5em;
}

.best-seller-others{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.collections-feature{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    
}

.collections-feature-item{
    width: 250px;
    height: 400px;

}

.collections-feature-item a{
    font-size: 1em;

}

.for-what-div img{
    width: 600px;

}

.for-what-div div{
    width: 90%;
}

}


@media (min-width:1401px){
    .top-arrivals {
        grid-template-columns: repeat(3,1fr);
        gap:5em;
    }

    .other-arrivals{
        background-color: transparent;
        grid-template-columns: repeat(5,1fr);
        gap:0.4em;
    
    }

    .collections-feature{
        display: flex;
        flex-direction: row;
        
    }
  
}



