:root {
    --link-hover: #d60000;

    --form-border: rgb(156, 156, 156);

    --transition-time: 0.3s;

}


button, .login-submit input {
    border-radius: 50px;
    font-size: 1em;

}

button {
    width: 50%;
    transition: background var(--transition-time) ease-in-out;
    padding: 1em 2.5em;

}

.login {
    padding: 5%;

}

.login form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-block:2em;

}

.login h1{
    font-size:1.7em;

}

.login hr{
    width: 80%;
    margin-block: 1.5em;

}

.login-input{
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.login-input label{
    font-weight: bold;
}

.login-input input{
    border: 1px solid var(--form-border);

}

.login-submit input{
    padding: 1em 2em;
    transition: background var(--transition-time) ease-in-out;
}

.login-submit input:hover, button:hover{
    background: var(--link-hover);
    color: white;

}

.create-account {
    display: flex;
    flex-direction: column;
    gap:1em;

}

.create-account p{
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.2em;

}


@media (min-width: 1240px){
    .login {
        width: 30%;
        
    }

    .login h1{
        font-size: 2.5em;
        
    }

    .login form{
        font-size: 1.2em;

    }

}